<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>data-binding estude</title>
</head>
<body>
    <section>
        <h3>Interpolation / Interpolação</h3>
        <p>
            {{ url }}
        </p>
        <p>
            Resultado de 1 + 1 é {{ 1 + getValor() }}
        </p>
        <article class="">
            <h3>Property Binding</h3>
            <!-- <img src="{{ urlImg }}" alt=""> -->
            <!--
                Por baixo dos panos o Angular2 esta fazendo isto
                <img bind-src="urlImg">
             -->
             <!-- Melhor forma é esta abaixo -->
            <img [src]="urlImg" alt="">
        </article>

        <article class="">
            <h3>Class e Style binding</h3>
            Selecione uma classe:
            <!--
            Declaramos ela dentro do prorpio elemento html
            Variaveis local no angular #nome_var (evento)="valor" -->
            <select class="" name="" class="form-control" #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br>
            <br>
            <div class="alert {{ classe.value }}">
                Texto colorido conforme valor do combobox.
            </div>

            <div class="alert " role="alert"
            [class.alert-success]="classe.value == 'alert-success'"
            >Sucesso</div>

            <div class="alert " role="alert"
            [class.alert-info]="classe.value == 'alert-info'"
            >Info</div>

            <div class="alert " role="alert"
            [class.alert-warning]="classe.value == 'alert-warning'"
            >Warning</div>

            <div class="alert " role="alert"
            [class.alert-danger]="classe.value == 'alert-danger'"
            >Erro</div>

            <div class="alert alert-danger"
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'" role="alert">
            Esse texto somente aparece em caso de erro</div>

        </article>
    </section>


    <section class="event-binding">
        <article class="">
            <h3>Event binding</h3>
            <div>
                <button class="btn btn-warning" (click)="onClick()">Me clique!</button>
            </div>

            <br><br>

            <!-- Fazendo referencia ao proprio evento passando $event ou seja abaixo sera passado o texto do input text-->
            <input type="text" (keyup)="onKeyUp($event)"
                (keyup.enter)="onSave($event.target.value)"
                (blur)="onSave(campo.value)"
                #campo
            >

            <div>Conteudo Atual: {{ conteudoAtual }}</div>
            <div>Conteudo Salvo: {{ conteudoSalvo }}</div>
        </article>

        <span
        (mouseover)="onMouseSpan()" (mouseout)="onMouseSpan()"
        [class.highlight]="isMouseOver"
        >Passe o mouse sobre mim</span>
    </section>


</body>
</html>
